@font-face {
    font-family: AlfaSlabOne;
    src: local("AlfaSlabOne"),
       url(../fonts/AlfaSlabOne-Regular.ttf) format('truetype');
    font-weight: 900;
}

:root {
    --fogra: #011627;
    --powder: #FDFFFC;
    --tiffany: #7C9AF6;
    --alabaster: #f1f1e6;
    --rose: #E71D36;
    --oxford: #02223C;
    --orange: #FF9F1C;
}

body, html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden
}

.bg-tiffany {
    background-color: var(--tiffany);
}

.bg-rose {
    background-color: var(--rose);
}

.text-rose {
    color: var(--rose);
}

.bg-powder {
    background-color: var(--powder);
}

.bg-alabaster {
    background-color: var(--alabaster);
}

.bg-fogra {
    background-color: var(--fogra);
}

.bg-oxford {
    background-color: var(--oxford);
}

.text-fogra {
    color: var(--fogra);
}

.text-tiffany {
    color: var(--tiffany);
}

.text-orange {
    color: var(--orange);
}

.bg-orange {
    background-color: var(--orange);
}

*:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.is-invalid {
    border: 1px solid var(--rose) !important;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

a:hover {
    opacity: 0.9;
    text-decoration: underline !important;
}

.cursor-pointer {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    font-family: serif;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 200%;
}

.br-sm {
    border-radius: 12.5px !important;
}

.br-lg {
    border-radius: 25px !important;
}

/*a,
div,
button {
    font-family: serif;
    font-size: 20px !important;;
}

p {
    font-size: 22px;
}*/

.center-absolute {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.cursor-pointer {
    cursor: pointer;
}

.object-fit-cover {
    -o-object-fit: cover;
       object-fit: cover;
}

.modal-open .modal {
    -ms-overflow-style: none;
    /*Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.modal-open .modal::-webkit-scrollbar {
    display: none;
     /* Safari and Chrome */
    width: 0px !important;
}